body {
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #f2f2f2;
	font-weight: bold;
}

#app {
	display: flex;
	height: 100vh;
	color: #42413f;
}

#sub-list {
	width: 250px;
	background: #464646;
	color: #e6e5e6;
	display: flex;
	flex-direction: column;
}

#sub-list a {
	cursor: pointer;
	text-align: center;
	border: 1px solid #3a3a3a;
	width: 100%;
	background-color: #4c4c4c;
}

#feed-list {
	padding: 30px 0;
	flex: 2;
	overflow-y: auto;
	overflow-x: hidden;
	color: #e6e5e6;
	background: #464646;
	border-left: 1px solid #3a3a3a;
	border-right: 1px solid #3a3a3a;
}

#feed-list::-webkit-scrollbar {
	width: 7px;
	background: #464646;
}

#feed-list::-webkit-scrollbar-thumb {
	background: #696969;
	border-radius: 7px;
}

#feed-list::-webkit-scrollbar-thumb:hover {
	background: #929292;
	border-radius: 7px;
}

#feed-list::-webkit-scrollbar:hover {
	background: #535353;
}

#story-container {
	flex: 3;
	overflow: auto;
	color: #e6e5e6;
	background: #4c4c4c;
	padding: 40px 80px;
}

#story-container .story-title {
	transition: background-color 500ms;
}
#story-container .story-title:hover {
	background: #666666;
}

.story-view img {
	max-width: 100%;
}

.feed-item-modal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.65);
	z-index: 999;
}

.feed-item-modal-iframe {
	width: 80vw;
	height: 95vh;
	border: 0;
	background: #fff;
	box-shadow: 0 8px 35px rgba(0, 0, 0, 0.45);
}
